.grid-panel-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: var(--grey-100);
    width: 100%;
}
.grid-panel-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    padding: 0;
}

.grid-panel-img{
    position: relative;
    width: 47.6vw;
    height: 47.6vh;
}

.grid-panel-img p{
    position: absolute;
    bottom: 10%;
    left: 35%;
    width: 30%;
    height: 3rem;
    line-height: 3rem;
    text-align: center;
    background: rgba(43, 108, 176, 0.9);
    border-radius: 20px;
    color: white;
    box-shadow: var(--shadow-3);
    backdrop-filter: blur(500px);
    font-weight: 500;
    cursor: pointer;
}